@media (prefers-color-scheme: dark) {
  body {
    background-color: black !important
  }

  #settingsDiv {
    background-color: black !important
  }

  .clickable {
    color: #6792e8 !important
  }
}
